{% extends "base.html" %}

{% block content %}

<h2> Pokedex Page </h2>
<table>
    <th> Pokemon </th>
    <th> Health </th>
    <th> Attack </th>
    <th> Defense </th>
    <th> Special Attack </th>
    <th> Special Defense </th>
    <th> Speed </th>
{% for item in pokemon %}
<tr>
    <td> <img src={{item.image}} width="64px"> <br> <span style="text-transform:capitalize;"> {{item.name}} </span> </td>
    <td> {{item.hp}} </td>
    <td> {{item.atk}} </td>
    <td> {{item.dfn}} </td>
    <td> {{item.spatk}} </td>
    <td> {{item.spdef}} </td>
    <td> {{item.spd}} </td>

</tr>
{% endfor %}


{% endblock content %}
