{% include "core/base.html" %}

{% block content %}
<div class="bg">
<div id="bootstrap-override">
<h2> Pokedex </h2>
<table class="table">
    <th> Pokemon </th>
    <th class="table-danger"> Health </th>
    <th style="background-color:#ffd4b8"> Attack </th>
    <th class="table-warning"> Defense </th>
    <th class="table-primary"> Special Attack </th>
    <th class="table-success"> Special Defense </th>
    <th class="table-info"> Speed </th>
{% for item in pokemon %}
<tr>
    <td> 
    {% if item.image != null %}
    <img src={{item.image}} width=128>
    {%endif%}
    {{item.name}} </td>
    <td class="table-danger"> {{item.hp}} </td>
    <td style="background-color:#ffd4b8"> {{item.atk}} </td>
    <td class="table-warning"> {{item.dfn}} </td>
    <td class="table-primary"> {{item.spatk}} </td>
    <td class="table-success"> {{item.spdef}} </td>
    <td class="table-info"> {{item.spd}} </td>

</tr>
{% endfor %}
</div></div>
{% endblock content %}
