@font-face{
    font-family: "pkmnFont";
    src:
        url('pokemon-gen3-battle.ttf');
}


* {
    background: #cbbfaf;
    color: #4460a6;
    font-family: 'pkmnFont', 'Gill Sans', 'Times New Roman';
}

.table{
    border-style: solid;
    border-color:#89cc5f;
    border-radius: 0.25em;
    border-width: 10px;
}

.table-container{
    text-align: center;
}

.atkColor {
    background-color: #ffd4b8;
}

.header{
    padding: 10px 10px;
    color: #4460a6;
    background-color: #a393a4;
    /* position: fixed; */
    top:0;
    width: 100%
}

h1{
    margin: 0px
}