{% load static %}
<!DOCTYPE html>
<html>

<head>
   {% block head %}
   {% endblock head %}
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="../static/css/main.css">
</head>

<body>
    {% block content %}
    <h1 class = "sticky-top header"> pokeProject </h1>
    <p>
        The final project for Fall Semester of the 2023-2024 school year of Stuyvesant High School's 9th Period Software Development class. <br> <br>
        Goal: To create a functional pokedex (a database of Pokemon (fictional creatures of the franchise of their namesake) which includes 
        various information sourced from pokeapi.co, including such information such as statistics, appearance, and "types" (similar to 
        elemental affinities)) including all Pokemon that have been introduced in the game so far (as of 11.01.2024, the latest update to 
        the national Pokedex is "The Indigo Disk" DLC for Pokemon Scarlet and Violet), with filters to sort pokemon based on factors such
        as type and generation (definition: arbitrary periods of time categorizing when a given pokemon was introduced). <br> <br>
        The website has the ability to store "teams" of up to 6 pokemon of your choosing, from all of the pokemon currently contained in the Pokedex.
    </p>
    {% endblock content %}
</body>

<script>
    {% block js %}
    {% endblock js %}
</script> 

</html>