{% include "core/base.html" %}

{% block content %}


<div id="bootstrapOverride">
    <table>
        <tr>
        {% for object in teams %}
             <!-- {% for teamPKMN in object.teamPKMN.all %}
                &nbsp{{teamPKMN.name}} <br>
            {%endfor%} -->
            <a href="../teamMaker/{{object.id}}">Team {{object.id}}</a><br>
            <button type="button" class="teamButton" value="{{object.id}}">Compare this team</button> 
            <br><br>
        {%endfor%}
        </tr>
    </table> <br> <br> <br>
    <div id="comparisonTableGoesHere"></div>

</div>
{% endblock content %}

<script>
    {%block js%}    
        var teamsJSON = JSON.parse('{{ teamsJSON | safe }}');
        var pokemonJSON = JSON.parse('{{ pkmnJSON | safe }}')
        let teamButton1 = "";
        let teamButton2 = "";

        console.log(teamsJSON);


        document.querySelectorAll(".teamButton").forEach(link => link.addEventListener('click', function() {
            if(teamButton1 == "") {
                teamButton1 = link.value;
            } else{
                teamButton2 = link.value;
                console.log(teamButton1 + " " + teamButton2);
                makeTeamTable();
                teamButton1 = ""; teamButton2 = "";
            } 
        }))
        
        
        function makeTeamTable(){
            toTable = `<table>
                <th> Team ${teamsJSON[teamButton1 - 1]['pk']} Pokemon </th>`

            toTable += addToTable(teamButton1);
            toTable += `</table> <table> <th> Team ${teamsJSON[teamButton2 - 1]['pk']} Pokemon </th>`
            toTable += addToTable(teamButton2) + `</table>`;

            document.getElementById('comparisonTableGoesHere').innerHTML = toTable   
        }


        function addToTable(teamButtonParam){
            let toTable = "";
            for(let i = 0; i < teamsJSON[teamButtonParam - 1]["fields"]['teamPKMN'].length; i++) {
                let pkmnID = teamsJSON[teamButtonParam - 1]["fields"]['teamPKMN'][i] - 1;
    
                toTable += `
                     <th> 
                        ${pokemonJSON[pkmnID]["fields"]["name"]} <br>
                        <img src = ${pokemonJSON[pkmnID]["fields"]["image"]} width="128px"
                     </th>`
            }
            return toTable
        }
        {% comment %} 
            So: Problem I realized! How exactly do I get all the API stuff into the JS...?
        {% endcomment %}
    {%endblock js%}
</script>





